<p>contract-form works!</p>
<form class="example-form" [formGroup]="contractForm" (ngSubmit)="SaveProduct()">
    <mat-form-field color="accent" class="example-full-width-date" appearance="fill">
        <mat-label>Contract Start date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="contractValidityStartDate">
        <!-- <mat-hint>YYYY/MM/DD</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field color="accent" class="example-full-width-date" appearance="fill">
        <mat-label>Contract End date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="contractValidityEndDate">
        <!-- <mat-hint>YYYY/MM/DD</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <!-- <input matInput placeholder="Description" formControlName="description"> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Markup Value</mat-label>
        <input matInput placeholder="Markup Value" formControlName="markupValue">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Travel Agent</mat-label>
        <mat-select>
            <mat-option *ngFor="let travelAgent of travelAgents" [value]="travelAgent.travelAgentId">
                {{travelAgent.travelAgentName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h3>Hotel Info</h3>
    <div>
        <table formArrayName="hotel" style="margin: 2%;width: 96%;"
            class="mat-table cdk-table mat-elevation-z8 table-bordered">
            <thead>
                <tr>
                    <td>Owner Name</td>
                    <td>Hotel Name</td>
                    <td>Description</td>
                    <td>Address</td>
                    <td>Contact NO</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of hotel.controls;let i=index" [formGroupName]="i">
                    <td>
                        <input class="form-control" formControlName="hotelOwner">
                    </td>
                    <td>
                        <input class="form-control" formControlName="hotelName">
                    </td>
                    <td>
                        <textarea class="form-control" formControlName="description"></textarea>
                    </td>
                    <td>
                        <input class="form-control" formControlName="hotelAddress">
                    </td>
                    <td>
                        <input class="form-control" formControlName="hotelContactNo">
                    </td>
                    <td>
                        <input class="form-control" formControlName="hotelEmail">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Room Info</h3>
    <div>
        <table formArrayName="rooms" style="margin: 2%;width: 96%;"
            class="mat-table cdk-table mat-elevation-z8 table-bordered">
            <thead>
                <tr>
                    <td>Room Type</td>
                    <td>Price Per Person</td>
                    <td>No Of Rooms</td>
                    <td>Max Adults</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rooms.controls;let i=index" [formGroupName]="i">
                    <td>
                        <select class="form-control" formControlName="roomType">
             <option *ngFor="let room of roomTypes" [value]="room.roomTypeId">{{room.roomTypeName}}</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control" formControlName="pricePerPerson">
                    </td>
                    <td>
                        <input class="form-control" formControlName="noOfRooms">
                    </td>
                    <td>
                        <input class="form-control" formControlName="maxAdults">
                    </td>
                    <td>
                        <a mat-raised-button color="accent" (click)="removeRoom(i)">Remove</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <a mat-raised-button color="primary" (click)="addRooms()">Add New (+)</a>
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>

    <div class="example-button-row" style="padding: 1%">
        <button mat-raised-button color="primary">Save</button> |
        <a mat-raised-button color="accent" (click)="redirecttolist()">Cancel</a>
    </div>
</form>